include ../rating/rating.pug
mixin roomCard(data)
    .room-card 
        if (data.cardPlace != 'page')
            .room-card__view
                img(src=data.imgAddress alt=data.imgAlt).room-card__view-img
                .room-card__arrows 
                    .arrow-left 
                        span.material-icons chevron_left
                    .arrow-right
                        span.material-icons chevron_left
                .room-card__pic-switch 
                    .sw1 
                    .sw2 
                    .sw3 
                    .sw4
            .room-card__room-info 
                .room-card__info-top-part 
                    .room-card__room-type 
                        .room-card__header 
                            span №
                            span.room-card__room-number 
                                h1= data.num
                        h3=data.type
                    .room-card__room-price
                        span.sum=data.sum 
                        span.period в сутки
                .room-card__info-bottom-part 
                    +rating({grade: data.grade})
                    .room-card__reviews
                        .num= `${data.reviewNum} `
                        .revs= ' Отзывов'
        else 
            .room-card__view.room-card__view-higher
                img(src=data.imgAddress alt=data.imgAlt).room-card__view-img
                .room-card__arrows 
                    .arrow-left 
                        span.material-icons chevron_left
                    .arrow-right
                        span.material-icons chevron_left
                .room-card__pic-switch 
                    .sw1 
                    .sw2 
                    .sw3 
                    .sw4
            .room-card__room-info.room-card__room-info-rightpadding
                .room-card__info-top-part 
                    .room-card__room-type.room-card__luxspaced 
                        .room-card__header 
                            span №
                            span.room-card__room-number 
                                h1= data.num
                        h3=data.type
                    .room-card__room-price
                        span.sum=data.sum 
                        span.period в сутки
                .room-card__info-bottom-part 
                    +rating({grade: data.grade})
                    .room-card__reviews
                        .num= `${data.reviewNum} `
                        .revs= ' Отзывов'
